@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - KonBase</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link href="~/css/nucleo/nucleo.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/konbaseBootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-default">

    <div class="modal fade" data-backdrop="static" id="acessoNegado">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="text-danger text-center">@ViewData["Title"]</h5>
                </div>
                <div class="modal-body">
                    <h1 class="text-danger text-center">Você não tem acesso a este recurso.</h1>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col text-center">
                                <form asp-action="RedirectUserAsync" asp-controller="Redirect" method="post" asp-area="">
                                    <button class="btn btn-danger">Voltar a tela inicial</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery-3.3.1/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-4.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/js-cookie-2.2.0/js.cookie.js"></script>
    <script src="~/lib/jquery.scrollbar-0.2.11/jquery.scrollbar.min.js"></script>
    <script src="~/lib/jquery-scroll-lock-3.1.3/dist/jquery-scrollLock.min.js"></script>
    <script src="~/lib/lavalamp-1.1.0/package/js/jquery.lavalamp.min.js"></script>

    <script src="~/js/moment.min.js"></script>
    <script src="~/js/script.js"></script>

    <script>
        $(document).ready(function () {
            $('#acessoNegado').modal('show');
        })
    </script>
</body>
</html>
