@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registrar";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - KonBase</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/KonbaseBootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Associe sua conta @Model.LoginProvider</h1>
                            </div>
                            <p class="text-info text-center">
                                Você autenticou com sucesso com o <strong>@Model.LoginProvider</strong>. Por favor, insira um endereço de e-mail para este site abaixo e clique no botão Registrar para concluir fazendo login.
                            </p>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input asp-for="Input.FirstName" class="form-control form-control-user" placeholder="Nome" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-sm-6">
                                        <input asp-for="Input.LastName" class="form-control form-control-user" placeholder="Sobrenome" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input asp-for="Input.Email" class="form-control form-control-user" placeholder="Email" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <button class="btn btn-primary btn-user btn-block" type="submit">
                                    Registrar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/lib/jquery-3.3.1/dist/jquery.min.js"></script>
    <script src="~/js/konbaseBootstrap.min.js"></script>
    <script src="~/lib/jquery-easing-1.3.0/jquery-easing.js"></script>
    <script src="~/js/sidebarToggleTop.js"></script>
    <script src="~/lib/jquery-Mask-1.14.15/src/jquery.mask.js"></script>
    <script src="~/js/styleMask.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</body>
</html>