@{
    ViewData["Title"] = "Moradores";
}

@section breadcrumb {
    <h6 class="h2 text-white d-inline-block mb-0">Moradores</h6>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Dweller" asp-action="Index">Moradores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>
}
<div class="row card-wrapper">
    <div class="col-md-12">
        <a asp-area="Admin" asp-controller="Dweller" asp-action="Add" class="btn btn-success">Adicionar Morador</a>
    </div>
</div>

<div class="row card-wrapper dweller-condominium">
    <div class="col-lg-4">
        <div class="card card-profile">
            <div class="row justify-content-center">
                <div class="col-lg-3 order-lg-2">
                    <div class="card-profile-image">
                        <a href="#">
                            <img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg" class="rounded-circle">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0">
                <div class="text-center">
                    <h5 class="h5 name">
                        Jessica Jones
                    </h5>
                    <div class="h5 font-weight-300">
                        <i class="ni location_pin mr-2"></i>Apartamento 404
                    </div>
                </div>
                <div class="btn-group special" role="group" aria-label="Basic example">
                    <a asp-area="Admin" asp-controller="Dweller" asp-action="Edit" class="btn btn-secondary">Editar</a>
                    <a asp-area="Admin" asp-controller="Dweller" asp-action="ToView" class="btn btn-secondary">Visualizar</a>
                    <a asp-area="Admin" asp-controller="Dweller" asp-action="Delete" class="btn btn-secondary">Excluir</a>
                </div>
            </div>
        </div>
    </div>
</div>
