@{
    ViewData["Title"] = "Adicionar Morador";
}

@section breadcrumb {
    <h6 class="h2 text-white d-inline-block mb-0">Visão Geral</h6>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Moradores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Adicionar</li>
        </ol>
    </nav>
}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                <div class="card-wrapper">
                    <div class="card">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-md-6 float-left">
                                    <h3 class="mb-0">Perfil </h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="alert alert-default alert-dismissible fade show" role="alert">
                                <span class="alert-icon"><i class="ni ni-send"></i></span>
                                <span class="alert-text">A <strong>SENHA</strong> do morador será enviada através do <strong>EMAIL</strong> cadastrado</span>
                            </div>
                            <h6 class="heading-small text-muted mb-4">
                                INFORMAÇÃO DO MORADOR
                            </h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="">Nome</label>
                                            <input type="text" id="input-first-name" class="form-control" placeholder="Nome">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="">Sobrenome</label>
                                            <input type="text" id="input-last-name" class="form-control" placeholder="Sobrenome">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="">Data Nascimento</label>
                                            <input class="form-control datepicker" placeholder="Selecione a Data" type="text">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="">CPF</label>
                                            <input type="number" id="input-email" class="form-control" placeholder="CPF">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="">RG</label>
                                            <input class="form-control" placeholder="RG" type="number">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-email">CPF</label>
                                            <input type="email" id="email" class="form-control" placeholder="CPF">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="my-4" />
                            <!-- Address -->
                            <h6 class="heading-small text-muted mb-4">
                                INFORMAÇÕES DE CONTATO
                            </h6>
                            <div class="pl-lg-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-address">Telooefone</label>
                                            <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-city">City</label>
                                            <input type="text" id="input-city" class="form-control" placeholder="City" value="New York">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Country</label>
                                            <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-country">Postal code</label>
                                            <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-wrapper">
                        <div class="card-header">
                            <h3 class="mb-0">Foto</h3>
                        </div>
                        <div class="card-body">
                            <div class="dropzone dropzone-single mb-3" data-toggle="dropzone" data-dropzone-url="http://">
                                <div class="fallback">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="projectCoverUploads">
                                        <label class="custom-file-label" for="projectCoverUploads">Escolha o Arquivo</label>
                                    </div>
                                </div>
                                <div class="dz-preview dz-preview-single">
                                    <div class="dz-preview-cover">
                                        <img class="dz-preview-img" src="..." alt="..." data-dz-thumbnail>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
