@{
    ViewData["Title"] = "Visualizar Morador";
}

@section breadcrumb {
    <h6 class="h2 text-white d-inline-block mb-0">Visão Geral</h6>
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item"><a href="#">Moradores</a></li>
            <li class="breadcrumb-item active" aria-current="page">Visualizar</li>
        </ol>
    </nav>
}
    <div class="col-md-12 row">
        <div class="col-lg-8">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card bg-gradient-info border-0">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Total Pago</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">R$ 350,897</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-fat-add"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                                <span class="text-nowrap text-light">Desde o último mês</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card bg-gradient-danger border-0">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0 text-white">Em Atraso</h5>
                                    <span class="h2 font-weight-bold mb-0 text-white">R$ 0,00</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                                        <i class="ni ni-fat-delete"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 78.48%</span>
                                <span class="text-nowrap text-light">Desde o último mês</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Perfil </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">
                        INFORMAÇÃO DO MORADOR
                    </h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Usuário</label>
                                    <input type="text" id="input-username" class="form-control" placeholder="Username" value="lucky.jesse">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-email">Email address</label>
                                    <input type="email" id="input-email" class="form-control" placeholder="jesse@example.com">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-first-name">First name</label>
                                    <input type="text" id="input-first-name" class="form-control" placeholder="First name" value="Lucky">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-last-name">Last name</label>
                                    <input type="text" id="input-last-name" class="form-control" placeholder="Last name" value="Jesse">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Address -->
                    <h6 class="heading-small text-muted mb-4">
                        INFORMAÇÕES DE CONTATO
                    </h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-address">Address</label>
                                    <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-city">City</label>
                                    <input type="text" id="input-city" class="form-control" placeholder="City" value="New York">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Country</label>
                                    <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Postal code</label>
                                    <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4" />
                    <!-- Description -->
                    <h6 class="heading-small text-muted mb-4">
                        INFORMAÇÕES DE ENDEREÇO
                    </h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">CEP</label>
                                    <input type="number" id="input-postal-code" class="form-control" placeholder="Postal code">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-city">Cidade</label>
                                    <input type="text" id="input-city" class="form-control" placeholder="City" value="New York">
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-country">Bairro</label>
                                    <input type="text" id="input-country" class="form-control" placeholder="Country" value="United States">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-address">Rua</label>
                                    <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-address">Complemento</label>
                                    <input id="input-address" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" type="text">
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <select class="form-control" data-toggle="select">
                                        <option>Alerts</option>
                                        <option>Badges</option>
                                        <option>Buttons</option>
                                        <option>Cards</option>
                                        <option>Forms</option>
                                        <option>Modals</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Timeline</h3>
                </div>
                <div class="card-body">
                    <div class="timeline timeline-one-side" data-timeline-content="axis" data-timeline-axis-style="dashed">
                        <div class="timeline-block">
                            <span class="timeline-step badge-success">
                                <i class="ni ni-bell-55"></i>
                            </span>
                            <div class="timeline-content">
                                <small class="text-muted font-weight-bold">10:30 AM</small>
                                <h5 class=" mt-3 mb-0">New message</h5>
                                <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <div class="mt-3">
                                    <span class="badge badge-pill badge-success">design</span>
                                    <span class="badge badge-pill badge-success">system</span>
                                    <span class="badge badge-pill badge-success">creative</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step badge-danger">
                                <i class="ni ni-html5"></i>
                            </span>
                            <div class="timeline-content">
                                <small class="text-muted font-weight-bold">10:30 AM</small>
                                <h5 class=" mt-3 mb-0">Product issue</h5>
                                <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <div class="mt-3">
                                    <span class="badge badge-pill badge-danger">design</span>
                                    <span class="badge badge-pill badge-danger">system</span>
                                    <span class="badge badge-pill badge-danger">creative</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step badge-info">
                                <i class="ni ni-like-2"></i>
                            </span>
                            <div class="timeline-content">
                                <small class="text-muted font-weight-bold">10:30 AM</small>
                                <h5 class=" mt-3 mb-0">New likes</h5>
                                <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <div class="mt-3">
                                    <span class="badge badge-pill badge-info">design</span>
                                    <span class="badge badge-pill badge-info">system</span>
                                    <span class="badge badge-pill badge-info">creative</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step badge-success">
                                <i class="ni ni-bell-55"></i>
                            </span>
                            <div class="timeline-content">
                                <small class="text-muted font-weight-bold">10:30 AM</small>
                                <h5 class=" mt-3 mb-0">New message</h5>
                                <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <div class="mt-3">
                                    <span class="badge badge-pill badge-success">design</span>
                                    <span class="badge badge-pill badge-success">system</span>
                                    <span class="badge badge-pill badge-success">creative</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-block">
                            <span class="timeline-step badge-danger">
                                <i class="ni ni-html5"></i>
                            </span>
                            <div class="timeline-content">
                                <small class="text-muted font-weight-bold">10:30 AM</small>
                                <h5 class=" mt-3 mb-0">Product issue</h5>
                                <p class=" text-sm mt-1 mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <div class="mt-3">
                                    <span class="badge badge-pill badge-danger">design</span>
                                    <span class="badge badge-pill badge-danger">system</span>
                                    <span class="badge badge-pill badge-danger">creative</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
