@{
    ViewData["Title"] = "Sistema para gestão de condomínios";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="Konbase" />
    <meta name="description" content="Konbase - Sistema para gestão de condomínios" />
    <meta name="keywords" content="Condomínios, Gestão de Condomínios, Síndico, Software para Condomínios, Online">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>KonBase</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link href="~/css/nucleo/nucleo.css" rel="stylesheet" type="text/css" />
    <link href="~/css/util.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/select2-4.0.6/select2.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/konbaseBootstrap.min.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <nav id="navbar-main" class="navbar navbar-horizontal navbar-main navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" href="./pages/dashboards/dashboard.html">
                <img src="~/images/logo/logo_smile.png">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar-custom-collapse collapse" id="navbar-collapse">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="./pages/dashboards/dashboard.html">
                                <img src="./assets/img/brand/blue.png">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#navbar-main" class="nav-link">
                            <span class="nav-link-inner--text">Início</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#Plans" class="nav-link">
                            <span class="nav-link-inner--text">Planos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#HowWork" class="nav-link">
                            <span class="nav-link-inner--text">Sobre o Sistema</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#Functionality" class="nav-link">
                            <span class="nav-link-inner--text">Funcionalidades</span>
                        </a>
                    </li>
                </ul>
                <hr class="d-lg-none" />
                <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank" data-toggle="tooltip" title="" data-original-title="Like us on Facebook">
                            <i class="fab fa-facebook-square"></i>
                            <span class="nav-link-inner--text d-lg-none">Facebook</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="" data-original-title="Follow us on Instagram">
                            <i class="fab fa-instagram"></i>
                            <span class="nav-link-inner--text d-lg-none">Instagram</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="" data-original-title="Follow us on Twitter">
                            <i class="fab fa-twitter-square"></i>
                            <span class="nav-link-inner--text d-lg-none">Twitter</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="" data-original-title="Star us on Github">
                            <i class="fab fa-github"></i>
                            <span class="nav-link-inner--text d-lg-none">Github</span>
                        </a>
                    </li>
                    <li class="nav-item d-none d-lg-block ml-lg-4">
                        <a asp-area="" asp-controller="Identity" asp-action="Account/Login" class="btn btn-neutral btn-block btn-icon"><span class="nav-link-inner--text">Entrar</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <div class="main-content">
        <!-- Header -->
        <div class="header bg-primary pb-7">
            <div class="container">
                <div class="header-body">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="pr-5">
                                <h1 class="display-2 text-white font-weight-bold mb-0">Konbase</h1>
                                <h2 class="display-4 text-white font-weight-light">A plataforma de gestão de condomínios mais completa do mercado.</h2>
                                <p class="text-white mt-4">Economize tempo, reduza custos e simplifique a gestão do condomínio</p>
                                <div class="mt-5">
                                    <a asp-area="" asp-controller="Identity" asp-action="Account/Register"  class="btn btn-success btn-block my-2">Registre-se por 14 dias gratuitamente</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="row pt-5">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow mb-4">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                            <h5 class="h3">Emissão de Boletos</h5>
                                            <p>Com o sistema de controle de boletos do Konbase você não precisará ficar digitando as informações do pagamento, para que o boleto seja emitido.</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                            <h5 class="h3">Automatize as Reservas</h5>
                                            <p>Espaços comuns configurados conforme o regimento. O Konbase gerencia tudo automaticamente.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 pt-lg-5 pt-4">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow mb-4">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                            <h5 class="h3">Software Financeiro</h5>
                                            <p>
                                                Contas a pagar, Contas a receber, Emissão de boleto bancário, remessa e arquivo de retorno, Acordos e agrupamentos de títulos, Balancete mensal compartilhado, Fechamento do mês e etc.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow mb-4">
                                                <i class="ni ni-active-40"></i>
                                            </div>
                                            <h5 class="h3">Portaria</h5>
                                            <p>Controle o acesso de moradores, visitantes e veículos de seu condomínio, e registre as sugestões, reclamações, correspondências e dúvidas.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="section section-lg pt-lg-0 mt--7 bg-default" id="HowWork">
            <div class="container">
                <div class="row justify-content-center text-center bg-default" style="margin-top:95px; margin-bottom:25px;">
                    <div class="col-lg-9">
                        <h2 class="display-3 text-white m-t-30">
                            Como funciona?
                        </h2>
                        <p class="lead text-white">
                            O sistema foi desenvolvido para ser usado por todo corpo administrativo de uma administradora ou de um condomínio. Além disso, o morador terá acesso ao sistema web, onde poderá fazer reservas de áreas comuns, criar uma ocorrência, ler informativos e claro, efetuar o pagamento das taxas condominiais de forma simples e intuitiva.
                        </p>

                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card card-lift--hover shadow border-0">
                                    <div class="card-body py-5">
                                        <div class="icon icon-shape bg-gradient-primary text-white rounded-circle mb-4">
                                            <i class="ni ni-check-bold"></i>
                                        </div>
                                        <h4 class="h3 text-primary text-uppercase">Based on Bootstrap 4</h4>
                                        <p class="description mt-3">Argon is built on top of the most popular open source toolkit for developing with HTML, CSS, and JS.</p>
                                        <div>
                                            <span class="badge badge-pill badge-primary">bootstrap 4</span>
                                            <span class="badge badge-pill badge-primary">dashboard</span>
                                            <span class="badge badge-pill badge-primary">template</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-lift--hover shadow border-0">
                                    <div class="card-body py-5">
                                        <div class="icon icon-shape bg-gradient-success text-white rounded-circle mb-4">
                                            <i class="ni ni-istanbul"></i>
                                        </div>
                                        <h4 class="h3 text-success text-uppercase">Integrated build tools</h4>
                                        <p class="description mt-3">Use Argons's included npm and gulp scripts to compile source code, run tests, and more with just a few simple commands.</p>
                                        <div>
                                            <span class="badge badge-pill badge-success">npm</span>
                                            <span class="badge badge-pill badge-success">gulp</span>
                                            <span class="badge badge-pill badge-success">build tools</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="card card-lift--hover shadow border-0">
                                    <div class="card-body py-5">
                                        <div class="icon icon-shape bg-gradient-warning text-white rounded-circle mb-4">
                                            <i class="ni ni-planet"></i>
                                        </div>
                                        <h4 class="h3 text-warning text-uppercase">Full Sass support</h4>
                                        <p class="description mt-3">Argon makes customization easier than ever before. You get all the tools to make your website building process a breeze.</p>
                                        <div>
                                            <span class="badge badge-pill badge-warning">sass</span>
                                            <span class="badge badge-pill badge-warning">design</span>
                                            <span class="badge badge-pill badge-warning">customize</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-6">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6 order-md-2">
                        <img src="./assets/img/theme/landing-1.png" class="img-fluid">
                    </div>
                    <div class="col-md-6 order-md-1">
                        <div class="pr-md-5">
                            <h1>Awesome features</h1>
                            <p>This dashboard comes with super cool features that are meant to help in the process. Handcrafted components, page examples and functional widgets are just a few things you will see and love at first sight.</p>
                            <ul class="list-unstyled mt-5">
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-success mr-3">
                                                <i class="ni ni-settings-gear-65"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="mb-0">Carefully crafted components</h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-success mr-3">
                                                <i class="ni ni-html5"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="mb-0">Amazing page examples</h4>
                                        </div>
                                    </div>
                                </li>
                                <li class="py-2">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <div class="badge badge-circle badge-success mr-3">
                                                <i class="ni ni-satisfied"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <h4 class="mb-0">Super friendly support team</h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-6">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6">
                        <img src="./assets/img/theme/landing-2.png" class="img-fluid">
                    </div>
                    <div class="col-md-6 m-b-50">
                        <div class="pr-md-5">
                            <h1>Example pages</h1>
                            <p>If you want to get inspiration or just show something directly to your clients, you can jump start your development with our pre-built example pages.</p>
                            <a href="./pages/examples/profile.html" class="font-weight-bold text-warning mt-5">Explore pages</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-7 bg-blue-abstract" id="Plans">
            <div class="container">
                <div class="container mt--8 pb-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-10">
                            <div class="pricing card-group flex-column flex-md-row mb-3">
                                <div class="card card-pricing border-0 text-center mb-4">
                                    <div class="card-header bg-transparent">
                                        <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">Bravo pack</h4>
                                    </div>
                                    <div class="card-body px-lg-7">
                                        <div class="display-2">$49</div>
                                        <span class="text-muted">per application</span>
                                        <ul class="list-unstyled my-4">
                                            <li>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                                                            <i class="fas fa-terminal"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="pl-2">Complete documentation</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                                                            <i class="fas fa-pen-fancy"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="pl-2">Working materials in Sketch</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                                                            <i class="fas fa-hdd"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="pl-2">2GB cloud storage</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button type="button" class="btn btn-primary mb-3">Start free trial</button>
                                    </div>
                                    <div class="card-footer">
                                        <a href="#!" class="text-light">Request a demo</a>
                                    </div>
                                </div>
                                <div class="card card-pricing bg-gradient-success zoom-in shadow-lg rounded border-0 text-center mb-4">
                                    <div class="card-header bg-transparent">
                                        <h4 class="text-uppercase ls-1 text-white py-3 mb-0">Alpha pack</h4>
                                    </div>
                                    <div class="card-body px-lg-7">
                                        <div class="display-1 text-white">$199</div>
                                        <span class="text-white">per application</span>
                                        <ul class="list-unstyled my-4">
                                            <li>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                                                            <i class="fas fa-terminal"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="pl-2 text-white">Complete documentation</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                                                            <i class="fas fa-pen-fancy"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="pl-2 text-white">Working materials in Sketch</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="d-flex align-items-center">
                                                    <div>
                                                        <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                                                            <i class="fas fa-hdd"></i>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <span class="pl-2 text-white">2GB cloud storage</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <button type="button" class="btn btn-secondary mb-3">Start free trial</button>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <a href="#!" class="text-white">Contact sales</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="py-7" style="background-color: #172b4d;" id="Functionality">
            <div class="container">
                <div class="container mt--8 pb-5">
                    <div class="d-flex justify-content-lg-center px-3 mt-5 py-5">
                        <div>
                            <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
                                <i class="ni ni-building text-primary"></i>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <p class="text-white"><strong>The Arctic Ocean</strong> freezes every winter and much of the sea-ice then thaws every summer, and that process will continue whatever.</p>
                        </div>
                    </div>
                    <div class="row row-grid justify-content-center">
                        <div class="col-lg-10">
                            <div class="table-responsive">
                                <table class="table table-dark mt-5">
                                    <thead>
                                        <tr>
                                            <th class="px-0 bg-transparent" scope="col">
                                                <span class="text-light font-weight-700">Features</span>
                                            </th>
                                            <th class="text-center bg-transparent" scope="col">Bravo Pack</th>
                                            <th class="text-center bg-transparent" scope="col">Alpha Pack</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="px-0">IMAP/POP Support</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">Email Forwarding</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">Active Sync</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">Multiple domain hosting</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">
                                                <span class="text-sm text-light">Limited to 1 domain only</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">Additional storage upgrade</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">30MB Attachment Limit</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">-</td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">Password protected / Expiry links</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">-</td>
                                        </tr>
                                        <tr>
                                            <td class="px-0">Unlimited Custom Apps</td>
                                            <td class="text-center">
                                                <i class="fas fa-check text-success"></i>
                                            </td>
                                            <td class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="py-5" id="footer-main">
        <div class="container">
            <div class="row align-items-center justify-content-xl-between">
                <div class="col-xl-6">
                    <div class="copyright text-center text-xl-left text-muted">
                        &copy; @DateTime.Now.Year <a href="https://www.konbase.com.br" class="font-weight-bold ml-1" target="_blank">Konbase</a>
                    </div>
                </div>
                <div class="col-xl-6">
                    <ul class="nav nav-footer justify-content-center justify-content-xl-end">
                        <li class="nav-item">
                            <a href="https://www.konbase.com.br" class="nav-link" target="_blank">Termos de Serviço</a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">Sobre Nós</a>
                        </li>
                        <li class="nav-item">
                            <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Carreiras</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>	