@{
    ViewData["Title"] = "Termos de Serviço";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- SITE TITLE -->
    <title>@ViewData["Title"] - KonBase</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <link href="~/css/nucleo/nucleo.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="~/css/konbaseBootstrap.min.css" rel="stylesheet" type="text/css" />

</head>



<body>

    <div id="page" class="page">

        <section id="Terms" class="bg-fixed hero-section division">
            <div class="container">
                <div class="row">

                    <div style="margin-top: 20px;">
                        <h3 class="text-center" style="color:#0192F6; position: relative;">Política de Privacidade.</h3>
                    </div>

                    <div class="">
                        <br /><br />
                        <h5 style="color: #648094">SEÇÃO 1 - O QUE FAREMOS COM ESTA INFORMAÇÃO?</h5>
                        <br />
                        <p>
                            Quando você realiza alguma transação em nosso site, como parte do processo, coletamos as informações pessoais que você nos dá, tais como: nome, e-mail e endereço.

                            Quando você acessa nosso site, também recebemos automaticamente o protocolo de internet do seu computador, endereço de IP, a fim de obter informações que nos ajudam a aprender sobre seu navegador e sistema operacional.

                            Email Marketing será realizado apenas caso você permita. Nestes emails você poderá receber notícia sobre o site, promoções e outras atualizações.
                        </p>
                        

                        <h5 style="color: #648094">SEÇÃO 2 - CONSENTIMENTO</h5>
                        <p>
                            Como vocês obtêm meu consentimento?

                            Quando você fornece informações pessoais como nome, telefone e endereço, para completar: uma transação, verificar seu cartão de crédito, fazer um pedido. Após a realização de ações entendemos que você está de acordo com a coleta de dados para serem utilizados pela nossa empresa.

                            Se pedimos por suas informações pessoais por uma razão secundária, como marketing, vamos lhe pedir diretamente por seu consentimento, ou lhe fornecer a oportunidade de dizer não.

                            E caso você queira retirar seu consentimento, como proceder?

                            Se após você nos fornecer seus dados, você mudar de ideia, você pode retirar o seu consentimento para que possamos entrar em contato, para a coleção de dados contínua, uso ou divulgação de suas informações, a qualquer momento, entrando em contato conosco em informacoes@konbase.com.br.
                        </p>
                        

                        <h5 style="color: #648094">SEÇÃO 3 - DIVULGAÇÃO</h5>
                        <p>Podemos divulgar suas informações pessoais caso sejamos obrigados pela lei para fazê-lo ou se você violar nossos Termos de Serviço.</p>
                        

                        <h5 style="color: #648094">SEÇÃO 4 - SERVIÇOS DE TERCEIROS</h5>
                        <p>
                            No geral, os fornecedores terceirizados usados por nós irão apenas coletar, usar e divulgar suas informações na medida do necessário para permitir que eles realizem os serviços que eles nos fornecem.

                            Entretanto, certos fornecedores de serviços terceirizados, tais como gateways de pagamento e outros processadores de transação de pagamento, têm suas próprias políticas de privacidade com respeito à informação que somos obrigados a fornecer para eles de suas transações relacionadas com compras.

                            Para esses fornecedores, recomendamos que você leia suas políticas de privacidade para que você possa entender a maneira na qual suas informações pessoais serão usadas por esses fornecedores.

                            Em particular, lembre-se que certos fornecedores podem ser localizados em ou possuir instalações que são localizadas em jurisdições diferentes que você ou nós. Assim, se você quer continuar com uma transação que envolve os serviços de um fornecedor de serviço terceirizado, então suas informações podem tornar-se sujeitas às leis da(s) jurisdição(ões) nas quais o fornecedor de serviço ou suas instalações estão localizados.

                            Como um exemplo, se você está localizado no Canadá e sua transação é processada por um gateway de pagamento localizado nos Estados Unidos, então suas informações pessoais usadas para completar aquela transação podem estar sujeitas a divulgação sob a legislação dos Estados Unidos, incluindo o Ato Patriota.

                            Uma vez que você deixe nossoo site ou seja redirecionado para um aplicativo ou site de terceiros, você não será mais regido por essa Política de Privacidade ou pelos Termos de Serviço do nosso site.

                            Links

                            Quando você clica em links na nosso site, eles podem lhe direcionar para fora do nosso site. Não somos responsáveis pelas práticas de privacidade de outros sites e lhe incentivamos a ler as declarações de privacidade deles.
                        </p>
                        
                        <h5 style="color: #648094">SEÇÃO 5 - SEGURANÇA</h5>
                        <p>
                            Para proteger suas informações pessoais, tomamos precauções razoáveis e seguimos as melhores práticas da indústria para nos certificar que elas não serão perdidas inadequadamente, usurpadas, acessadas, divulgadas, alteradas ou destruídas.

                            Se você nos fornecer as suas informações de cartão de crédito, essa informação é criptografada usando tecnologia "secure socket layer" (SSL) e armazenada com uma criptografia AES-256. Embora nenhum método de transmissão pela Internet ou armazenamento eletrônico é 100% seguro, nós seguimos todos os requisitos da PCI-DSS e implementamos padrões adicionais geralmente aceitos pela indústria.
                        </p>
                        
                        <h5 style="color: #648094">SEÇÃO 6 - ALTERAÇÕES PARA ESSA POLÍTICA DE PRIVACIDADE</h5>
                        <p>
                            Reservamos o direito de modificar essa política de privacidade a qualquer momento, então por favor, revise-a com frequência. Alterações e esclarecimentos vão surtir efeito imediatamente após sua publicação no site. Se fizermos alterações de materiais para essa política, iremos notificá-lo que eles foram atualizados, para que você tenha ciência sobre quais informações coletamos, como as usamos, e sob que circunstâncias, se alguma, usamos e/ou divulgamos elas.

                            Se nossa site for adquirido ou fundido com outra empresa, suas informações podem ser transferidas para os novos proprietários para que possamos continuar a oferecer o serviçõ para você.
                        </p>
                        
                    </div>
                </div>	
            </div>	   
        </section>
    </div>	

    <script src="~/lib/jquery-3.3.1/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-4.2.1/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-easing-1.3.0/jquery-easing.js"></script>

    <!-- Custom Script -->
    <script src="~/js/custom.js"></script>

</body>

</html>	